@font-face {
  font-family: "AAA";
  src: local("NanumGothic") url("NanumGothic.eot") url("NanumGothic.ttf")
    url("NanumGothic.woff");
}
::selection {
  background-color: #ffc75f;
}
body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --color-Black: #1d1d1d;
  --color-White: #fff;
}
body {
  background: #fff;
  cursor: crosshair;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

/**--- custom cursor ---**/
.cursor {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-Black);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}
.cursor-grow {
  transition-duration: 0.5s;
  transform: scale(2.5);
  background-color: #ffffff36;
}

.mark:hover::after {
  width: calc(100% - 2rem);
  height: 3px;
  background-size: contain; /* 배경 이미지(svg)가 알맞게 들어가도록*/
}
.hovered-link {
  color: var(--color-White) !important;
}

.wrap {
  _overflow: hidden;
}

.M_txt {
  width: 100%;
  height: 100%;
  z-index: -9999;
  position: fixed;
}

.m_txt {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.M_txt_Out {
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 1s;
  z-index: -1;
  background-attachment: fixed;
}

.M_txt_In {
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: 1s;
}

/*--------------t01----------------*/
/*.t01 { height: 300px;}*/
.m_txt div {
  height: 150px;
}

.m_txt div p {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.t01 {
  margin-top: 90px;
}

/*--------------t02----------------*/

.t02::before {
  content: "";
  margin: 0 auto;
  width: 74%;
  padding-bottom: 80px;
  display: block;
  border-top: 1px solid #000;
}

.m_txt .my_gr {
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.m_txt .my_gr img {
  object-fit: cover;
}
/*---------------------------- 공통 ---------------------------*/
.container {
  top: 937px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.section {
  width: 100%;
}

.section h1 {
  text-align: center;
  font-size: 5vw;
  z-index: -1;
  color: #000 !important;
  margin-bottom: 30px;
}

/*------------------------------ sct01 --------------------------------*/
.circle::before {
  content: "";
  display: block;
  margin: 30px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

#aboutMe {
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 40% 15px;
}

.about_txt {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}

.about_txt p {
  font-weight: bold;
  font-family: "NanumGothic";
  font-size: 22px;
  color: #222;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: center;
}

/*------------------------------ skill --------------------------------*/

#skill {
  width: calc(92% - 8%);
  position: relative;
  overflow: hidden;
  padding: 100px 0px;
  margin: 0 auto;
}

.Technics_txt {
  position: absolute;
  background: transparent;
  display: grid;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Technics_txt p {
  cursor: pointer;
  font-weight: bold;
  font-size: 4em;
  color: #fff;
  text-shadow: 4px 7px 0 #9b9b9be0, 1px -1px 0 #9b9b9be0, -1px 1px 0 #9b9b9be0,
    1px 1px 0 #9b9b9be0;
  letter-spacing: 0.15em;
  opacity: 1;
}

.Technics_txt p .o_txt {
  opacity: 0;
  position: relative;
}

/* circle */
.Technics_txt p .o_cle {
  opacity: 1;
  display: block;
  top: 50px;
  width: 50px;
  height: 50px;
  background-image: url(../img/star01.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  transition-delay: 0.5;
  transition-duration: 0.8;
  cursor: pointer;
}

/*--- hover animation ---*/
.Technics_txt p .o_txt::after {
  content: "";
  position: absolute;
  display: block;
  top: 14px;
  width: 0px;
  height: 70px;
  background-image: #e9e81e66;
  transition: 1s;
}

.Technics_txt p .o_txt::before {
  content: "";
  position: absolute;
  display: block;
  top: 14px;
  width: 0px;
  height: 70px;
  background-color: #e9e81e66;
  transition: 1s;
  z-index: 0;
}

.Technics_txt .mark {
  position: relative;
  font-weight: bold;
  color: #fff;
}

.Technics_txt .mark::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.3s;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -20px;
  background: #ffc75f;
}

p:hover .mark::after {
  width: 100%;
  transition: width 0.3s;
}

.Technics_txt div:nth-child(1) p .o_txt::before {
  left: 0px;
}

.Technics_txt div:nth-child(2) p .o_txt::before {
  right: 0px;
}

.Technics_txt div:nth-child(3) p .o_txt::before {
  left: 0px;
}

.Technics_txt p:hover {
  color: #000;
}

.Technics_txt p:hover::before {
  transition: 1s;
}

.Technics_txt div:nth-child(1) p:nth-child(1) .o_txt:hover::before {
  width: 250px;
}

.Technics_txt div:nth-child(1) p:nth-child(2) .o_txt:hover::before {
  width: 190px;
}

.Technics_txt div:nth-child(2) p:nth-child(1) .o_txt:hover::before {
  width: 300px;
}

.Technics_txt div:nth-child(2) p:nth-child(2) .o_txt:hover::before {
  width: 430px;
}

.Technics_txt div:nth-child(3) p .o_txt:hover::before {
  width: 460px;
}

/*------------------portfolio --------------------------------*/
#portfolio p {
  text-align: center;
  margin-bottom: 10px;
  color: #2196f3;
  font-size: 12px;
  font-weight: 600;
}

/*------- ★ 모달 ★-------*/
.modal {
  z-index: 99999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 25vw);
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px -2px 16px 1px rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.modal.show {
  display: block;
  transition: 0.3s;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px -2px 16px 1px rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.m_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 15px 10px;
  background-color: #e7e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal_title {
  font-size: 23px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

#figmaLink {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  border-bottom: 1px dashed;
  color: #2196f3;
}

.closeBtn {
  font-size: 20px;
  color: rgb(139, 139, 139);
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}
.closeBtn:hover {
  color: black;
}

.m_body {
  height: 90%;
  padding: 5px;
}
.skillImg {
  width: 100%;
  height: 100%;
}
.skillImg img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.skillImg img.showImg {
  display: block;
}

.m_brackets {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 30px 41px 66px -60px #777;
}

/*-- 메뉴 --*/
.modal_box {
  width: 1500px;
  height: 740px;
  box-shadow: 1px 16px 24px 2px rgb(0 0 0 / 50%);
}

.top {
  padding: 5px 0 0 10px;
  z-index: 1;
  width: 1500px;
  height: 40px;
  background: #3c3f41;
  border-radius: 5px 5px 0 0;
}

.top ul {
  text-align: left;
}

.top ul li {
  padding: 5px 0 0 10px;
  display: inline;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}

.left {
  width: 120px;
  height: 700px;
  background: #3c3f41;
  float: left;
}

.left .le,
.left .ri {
  padding: 5px 0 0 10px;
}

.left .le p,
.left .ri p {
  padding-bottom: 10px;
  color: #a3a3a3;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.left .le ul li,
.left .ri ul li {
  font-size: 11px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #a3a3a3;
  font-weight: 100;
}

.left .le ul li span,
.left .ri ul li span {
  color: #eee;
}

/*-- 내용 --*/

.mo_html,
.mo_css,
.mo_jQ,
.mo_java {
  display: block;
  width: 90%;
  height: 700px;
  background: #eee;
  float: left;
}

.mo_photo,
.mo_Illust {
  display: block;
  width: 100%;
  height: 700px;
  background: #eee;
  float: left;
}

.mo_html img,
.mo_css img,
.mo_jQ img,
.mo_java img {
  width: 1380px;
  height: 100%;
}

.mo_photo img,
.mo_Illust img {
  width: 1500px;
  height: 100%;
}

/*------- ★ star ★-------*/
.star_top,
.star_bottom {
  width: 100%;
  top: 0;
  z-index: 0;
}

.star_top span,
.star_bottom span {
  position: absolute;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
}

.star_top span {
  background: #000;
  opacity: 0.4;
}

.star_bottom span {
  width: 25px;
  height: 25px;
  background-image: url(../img/star02.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.star_top > .st1 {
  left: 20%;
  top: 12%;
}

.star_top > .st2 {
  right: 0;
  top: 21%;
}

.star_top > .st3 {
  left: 60%;
  top: 64%;
}

.star_top > .st4 {
  left: 58%;
  top: 21%;
}

.star_top > .st5 {
  left: 45%;
  top: 0%;
}

.star_top > .st6 {
  left: 25%;
  top: 5%;
}

.star_top > .st7 {
  left: 50%;
  top: 78%;
}

.star_top > .st8 {
  left: 45%;
  top: 43%;
}

.star_top > .st9 {
  left: 6%;
  top: 41%;
}

.star_top > .st10 {
  left: 54%;
  top: 44%;
}

.star_bottom > .stb1 {
  left: 60%;
  top: 77%;
}

.star_bottom > .stb2 {
  right: 0;
  top: 47%;
}

.star_bottom > .stb3 {
  left: 8%;
  top: 87%;
}

.star_bottom > .stb4 {
  right: 12%;
  top: 47%;
}

.star_bottom > .stb5 {
  left: 78%;
  top: 57%;
}

.star_bottom > .stb6 {
  right: 19%;
  top: 0%;
}

.star_bottom > .stb7 {
  left: 20%;
  top: 54%;
}

.star_bottom > .stb8 {
  left: 45%;
  top: 84%;
}

.star_bottom > .stb9 {
  left: 68%;
  top: 68%;
}

.star_bottom > .stb10 {
  left: 28%;
  top: 29%;
}

/*
  
  cilck animation
  .Technics_txt p.changed::before{
      display: none;
  }
  */

sct02::after {
  content: "";
  clear: both;
}

/*---- mobile* ----*/
.mobile {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.mobile_box {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  background: #000;
  border-radius: 55px;
  margin-bottom: 50px;
}

.m_ain {
  position: absolute;
  overflow: hidden;
  left: 5%;
  top: 60px;
  width: 90%;
  height: 450px;
  background: #fff;
  margin: 0 auto;
}

.m_o,
.m_l,
.m_btn,
.m_btn_bt {
  position: absolute;
}

.m_o {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #777;
  top: 25px;
  left: 110px;
}

.m_l {
  width: 50px;
  height: 6px;
  border-radius: 15px;
  background: #777;
  top: 27px;
  left: 125px;
}

.m_btn {
  width: 40px;
  height: 40px;
  bottom: 30px;
  left: 130px;
  border-radius: 50%;
  background-color: silver;
}

.m_btn_bt {
  display: block;
  width: 36px;
  height: 36px;
  bottom: 30px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: #343434;
}

/*---- swiper ----*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide a {
  width: 100%;
  height: 100%;
}

/*------------------------------ sct04 --------------------------------*/
.sct04 {
  width: calc(100% - 120px);
  max-width: 784px;
  padding-top: 42px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.f_icon {
  width: 100%;
}

.f_icon ul {
  text-align: center;
}

.f_icon ul li {
  display: inline;
}

.f_icon ul li a img:hover {
}

.f_icon ul li:nth-child(1) {
  padding-right: 60px;
}

.f_address {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.f_address p {
  font-size: 2em;
}

/* 반응형 */
/* 가장 작은 기기들 (모바일, 320px 이상) */
@media screen and (max-width: 320px) {
  /*------------------------------ M_txt --------------------------------*/
  .M_txt {
    width: 100%;
    height: 100%;
    z-index: -9999;
    position: fixed;
  }

  .m_txt {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  /*--------------t01----------------*/
  /*.t01 { height: 300px;}*/
  .m_txt div {
    height: 100px;
  }

  .m_txt div p {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
  }

  .t01 {
    margin-top: 110px;
  }

  /*--------------t02----------------*/
  .t02 {
  }

  .t02::before {
    content: "";
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
    border-top: 1px solid #000;
  }

  /*------------------------------ sct01 --------------------------------*/
  .container {
    top: calc(100vh - 20px);
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }

  .about_txt {
    width: 90%;
    height: 890px;
    padding-top: 0px;
    margin: 0px auto;
  }

  .about_txt p {
    font-weight: bold;
    font-family: "NanumGothic";
    font-size: 22px;
    color: #222;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-align: center;
  }

  /*------------------------------ sct02 --------------------------------*/
  #skill {
    _background: #777;
    overflow: hidden;
    position: relative;
  }

  .Technics_txt {
    width: 95%;

    margin: 100px auto;
  }

  .Technics_txt div:nth-child(1) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt div:nth-child(2) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt div:nth-child(3) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt p {
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 11vw;
    color: #fff;
    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999,
      1px 1px 0 #999;
    position: relative;
    letter-spacing: 0.15em;
    line-height: 1.5;
    opacity: 1;
  }

  .Technics_txt p:nth-child(1) {
    float: none;
  }

  .Technics_txt p:nth-child(2) {
    float: none;
  }

  .Technics_txt div:nth-child(2) p {
    text-align: center;
  }

  .Technics_txt p .o_txt {
    opacity: 0;
    position: relative;
  }

  /*--- hover animation ---*/
  .Technics_txt p .o_txt::before {
    content: "";
    position: absolute;
    display: block;
    top: 40px;
    width: 0px;
    height: 20px;
    background-color: #e9e81e66;
    transition: 1s;
  }

  .Technics_txt div:nth-child(1) p .o_txt::before {
    left: 0px;
  }

  .Technics_txt div:nth-child(2) p .o_txt::before {
    right: 0px;
  }

  .Technics_txt div:nth-child(3) p .o_txt::before {
    left: 0px;
  }

  .Technics_txt p:hover {
    color: #000;
  }

  .Technics_txt p:hover::before {
    transition: 1s;
  }

  .Technics_txt div:nth-child(1) p:nth-child(1) .o_txt:hover::before {
    width: 140px;
  }

  .Technics_txt div:nth-child(1) p:nth-child(2) .o_txt:hover::before {
    width: 100px;
  }

  .Technics_txt div:nth-child(2) p:nth-child(1) .o_txt:hover::before {
    width: 150px;
  }

  .Technics_txt div:nth-child(2) p:nth-child(2) .o_txt:hover::before {
    width: 220px;
  }

  .Technics_txt div:nth-child(3) p .o_txt:hover::before {
    width: 230px;
  }

  /*------- ★ 모달 ★-------*/

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 800px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 100px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 700px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 700px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 800px;
  }

  .mobile {
    width: 100%;
    height: 100%;
    margin: 60px auto 0 auto;
  }

  .mobile_box {
    position: relative;
    width: 220px;
    height: 420px;
    margin: 0 auto;
    background: #000;
    border-radius: 40px;
    margin-bottom: 50px;
  }

  .m_ain {
    position: absolute;
    overflow: hidden;
    left: 5%;
    top: 60px;
    width: 90%;
    height: 300px;
    background: #fff;
    margin: 0 auto;
  }

  .swiper-slide a img {
    width: 100%;
    height: 300px;
  }

  /*핸드폰 top */
  .m_o {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #777;
    top: 27px;
    left: 85px;
  }

  .m_l {
    width: 30px;
    height: 5px;
    border-radius: 15px;
    background: #777;
    top: 27px;
    left: 95px;
  }

  /*핸드폰 버튼 */
  .m_btn {
    width: 30px;
    height: 30px;
    bottom: 11px;
    left: 95px;
    border-radius: 50%;
    background-color: silver;
  }

  .m_btn_bt {
    display: block;
    width: 28px;
    height: 28px;
    bottom: 30px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background-color: #343434;
  }

  /*------------------------------ sct04 --------------------------------*/
  .sct04 {
    width: calc(100% - 120px);
    max-width: 784px;
    padding-top: 42px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .f_icon {
    width: 100%;
  }

  .f_icon ul {
    text-align: center;
  }

  .f_icon ul li {
    display: inline;
  }
  .f_icon ul li img {
    width: 40px;
  }

  .f_icon ul li:nth-child(1) {
    padding-right: 10px;
  }

  .f_address {
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }

  .f_address p {
    font-size: 1em;
    font-weight: bold;
  }
}

/* 작은 기기들 (모바일, 321px 이상) */
@media screen and (min-width: 321px) and (max-width: 640px) {
  /*------------------------------ M_txt --------------------------------*/
  .M_txt {
    width: 100%;
    height: 100%;
    z-index: -9999;
    position: fixed;
  }

  .m_txt {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  /*--------------t01----------------*/
  /*.t01 { height: 300px;}*/
  .m_txt div {
    height: 150px;
  }

  .m_txt div p {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
  }

  .t01 {
    margin-top: 160px;
  }

  /*--------------t02----------------*/
  .t02 {
  }

  .t02::before {
    content: "";
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: block;
    border-top: 1px solid #000;
  }

  /*------------------------------ sct01 --------------------------------*/
  .about_txt {
    width: 80%;
    height: 850px;
    padding-top: 20px;
    margin: 0px auto;
  }

  .about_txt p {
    font-weight: bold;
    font-family: "NanumGothic";
    font-size: 18px;
    color: #222;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-align: center;
  }

  /*------------------------------ sct02 --------------------------------*/
  #skill {
    _background: #777;
    overflow: hidden;
    position: relative;
  }

  .Technics_txt {
    width: 95%;
    margin: 100px auto;
    grid-template-columns: 1fr !important;
  }

  .Technics_txt p {
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999,
      1px 1px 0 #999;
    position: relative;
    letter-spacing: 0.15em;
    line-height: 1.5;
    opacity: 1;
  }

  .Technics_txt p:nth-child(1) {
    float: none;
  }

  .Technics_txt p:nth-child(2) {
    float: none;
  }

  .Technics_txt div:nth-child(2) p {
    text-align: center;
  }

  .Technics_txt p .o_txt {
    opacity: 0;
    position: relative;
  }

  /*------- ★ 모달 ★-------*/

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 800px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 100px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 700px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 700px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 800px;
  }

  /*------------------------------ sct03 --------------------------------*/

  .mobile {
    width: 100%;
    height: 100%;
    margin: 60px auto 0 auto;
  }
}

/* 작은 기기들 (태블릿, 767px 이상) */
@media screen and (min-width: 641px) and (max-width: 767px) {
  /*------------------------------ M_txt --------------------------------*/
  .M_txt {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    z-index: -9999;
    position: fixed;
  }

  .m_txt {
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  /*--------------t01----------------*/
  /*.t01 { height: 300px;}*/
  .m_txt div {
    height: 150px;
  }

  .m_txt div p {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
  }

  .t01 {
    margin-top: 160px;
  }

  /*--------------t02----------------*/

  .t02::before {
    content: "";
    width: 600px;
    margin: 0 auto;
    padding-bottom: 80px;
    display: block;
    border-top: 1px solid #000;
  }

  /*------------------------------ sct01 --------------------------------*/
  .about_txt {
    width: 80%;
    height: 750px;
    padding-top: 20px;
    margin: 0px auto;
  }

  .about_txt p {
    font-weight: bold;
    font-family: "NanumGothic";
    font-size: 18px;
    color: #222;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-align: center;
  }

  /*------------------------------ sct02 --------------------------------*/
  #skill {
    _background: #777;
    overflow: hidden;
    position: relative;
  }

  .Technics_txt div:nth-child(1) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt div:nth-child(2) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt div:nth-child(3) {
    width: 100%;
    height: 100%;
    float: none;
  }

  .Technics_txt p {
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 5vw;
    color: #fff;
    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999,
      1px 1px 0 #999;
    position: relative;
    letter-spacing: 0.15em;
    line-height: 1.5;
    opacity: 1;
  }

  .Technics_txt p:nth-child(1) {
    float: none;
  }

  .Technics_txt p:nth-child(2) {
    float: none;
  }

  .Technics_txt div:nth-child(2) p {
    text-align: center;
  }

  .Technics_txt p .o_txt {
    opacity: 0;
    position: relative;
  }

  /*------- ★ 모달 ★-------*/

  .Technics_txt {
    width: 95%;
    margin: 0 auto;
  }

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 800px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 100px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 700px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 700px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 800px;
  }
}

/* 작은 기기들 (태블릿, 768px 이상) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*------------------------------ M_txt --------------------------------*/
  .M_txt {
    max-width: 1920px;
    width: 100%;
    z-index: -9999;
    position: fixed;
  }

  .m_txt {
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  /*--------------t01----------------*/
  /*.t01 { height: 300px;}*/
  .m_txt div {
    height: 150px;
  }

  .m_txt div p {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
  }

  .t01 {
    margin-top: 160px;
  }

  /*--------------t02----------------*/

  .t02::before {
    content: "";
    width: 600px;
    margin: 0 auto;
    padding-bottom: 80px;
    display: block;
    border-top: 1px solid #000;
  }

  /*------------------------------ sct01 --------------------------------*/
  .about_txt {
    width: 80%;
    height: 750px;
    padding-top: 20px;
    margin: 0px auto;
  }

  .about_txt p {
    font-weight: bold;
    font-family: "NanumGothic";
    font-size: 18px;
    color: #222;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-align: center;
  }

  /*------------------------------ sct02 --------------------------------*/
  #skill {
    _background: #777;
    overflow: hidden;
    position: relative;
  }

  .Technics_txt p {
    font-size: 3rem;
  }

  .Technics_txt p .o_txt {
    opacity: 0;
    position: relative;
  }

  /*------- ★ 모달 ★-------*/

  .Technics_txt {
    width: 95%;

    margin: 0 auto;
  }

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 800px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 100px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 700px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 700px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 800px;
  }
}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width: 992px) and (max-width: 1024px) {
  /*------------------------------ sct01 --------------------------------*/
  .about_txt {
    width: 90%;
    height: 600px;
    padding-top: 20px;
    margin: 0px auto;
  }

  .about_txt p {
    font-weight: bold;
    font-family: "NanumGothic";
    font-size: 18px;
    color: #222;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-align: center;
  }

  /*------------------------------ sct02 --------------------------------*/

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 1000px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 110px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 890px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 890px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 1000px;
  }

  /*---- mobile* ----*/
  .mobile {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .mobile_box {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    background: #000;
    border-radius: 55px;
    margin-bottom: 50px;
  }

  .m_ain {
    position: absolute;
    overflow: hidden;
    left: 5%;
    top: 60px;
    width: 90%;
    height: 450px;
    background: #fff;
    margin: 0 auto;
  }
}

/* 큰 기기들 (큰 데스크탑, 1025px 이상) */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  /*------------------------------ sct02 --------------------------------*/

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  /*-- 메뉴 --*/
  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 1000px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }

  .top ul {
    text-align: left;
  }

  .top ul li {
    padding: 5px 0 0 10px;
    display: inline;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
  }

  .left {
    width: 110px;
    height: 600px;
    background: #3c3f41;
    float: left;
  }

  .left .le,
  .left .ri {
    padding: 5px 0 0 10px;
  }

  .left .le p,
  .left .ri p {
    padding-bottom: 10px;
    color: #a3a3a3;
    font-size: 13px;
    letter-spacing: 0.1em;
  }

  .left .le ul li,
  .left .ri ul li {
    font-size: 11px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #a3a3a3;
    font-weight: 100;
  }

  .left .le ul li span,
  .left .ri ul li span {
    color: #eee;
  }

  /*-- 내용 --*/

  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 890px;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 100%;
    height: 600px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 890px;
  }

  .mo_photo img,
  .mo_Illust img {
    width: 1000px;
  }

  /*---- mobile* ----*/
  .mobile {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }

  .mobile_box {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    background: #000;
    border-radius: 55px;
    margin-bottom: 50px;
  }

  .m_ain {
    position: absolute;
    overflow: hidden;
    left: 5%;
    top: 60px;
    width: 90%;
    height: 450px;
    background: #fff;
    margin: 0 auto;
  }
}

/* 큰 기기들 (큰 데스크탑, 1280px 이상) */
@media screen and (min-width: 1280px) and (max-width: 1498px) {
  /*------------------------------ sct02 --------------------------------*/

  .m_brackets {
    display: none;
    position: absolute;
    top: 0;
    width: 1100px;
    box-shadow: 30px 41px 66px -60px #777;
  }

  .top {
    padding: 5px 0 0 10px;
    z-index: 1;
    width: 1100px;
    height: 40px;
    background: #3c3f41;
    border-radius: 5px 5px 0 0;
  }
  .mo_html,
  .mo_css,
  .mo_jQ,
  .mo_java {
    display: block;
    width: 980px;
    height: 700px;
    background: #eee;
    float: left;
  }

  .mo_html img,
  .mo_css img,
  .mo_jQ img,
  .mo_java img {
    width: 980px;
    height: 100%;
  }

  .mo_photo,
  .mo_Illust {
    display: block;
    width: 1100px;
    height: 750px;
    background: #eee;
    float: left;
  }
  .mo_photo img,
  .mo_Illust img {
    width: 1100px;
    height: 100%;
  }
}
