li, a { text-decoration: none; list-style: none;}

.Eco_container {
	width: 100%;
	height: 100%;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 5vw; 
    color: #7a8875;
}

.Eco_box {
	width: 50%;
	margin: 0 auto;
	position: relative;
}


/*---------- box01 ---------*/


.box01:after {
	position: absolute;
    content: "";
    display: inline-block;
    background: #7a8875;
    width: 3px;
    height: 100px;
    top: 0;
    left: 50%;
	transition: all 1s ease;
	-webkit-animation: tin 2s forwards;
			animation: tin 2s forwards;
	-webkit-animation-duration: 6s;	
			animation-duration: 6s;	
}
@-webkit-keyframes tin {
	to {
		height: 1400px;
	}
	from {
		height: 0px;
	}
}

@keyframes tin {
	to {
		height: 1400px;
	}
	from {
		height: 0px;
	}
}
/*-------------- 공통 ------------*/
.box01 ul li img {
	width: 300px; 
	height: 300px; 
	border-radius: 50%;
}


.box01 ul li img:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}	

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 




.box01{
	width: 100%;
	position: relative;
}
.box01 ul { 
    width: 100%;
	height: 300px;
    padding: 0;
	margin: 50px auto;
}
.box01 ul li {
    width: 50%;
    float: left;
}
.box01 ul li p {
    font-size: 20px;
	position: relative;
    font-weight: 500;
    line-height: 2;
    padding: 50px 0;
/*
    letter-spacing 자간
    word-spacing 어간
    line-height 행간 
*/
}

/*----------(1),(2),(3),(4)공통--------------------*/

.box01 ul li p:before {
	position: absolute;
    content: "";
    display: inline-block;
    background: #7a8875;
}

@-webkit-keyframes pline {
	to {
		padding-right: 90px;
	}
	from {
		padding-right: 0px;
	}
}

@keyframes pline {
	to {
		padding-right: 90px;
	}
	from {
		padding-right: 0px;
	}
}

/*----------(1),(3)before--------------------*/

.box01 ul:nth-child(1) li p:before,
.box01 ul:nth-child(3) li p:before {
    padding-right: 0px;
    height: 2px;
    top: 100px;
    left: -100px;
}
.box01 ul:nth-child(1) li p:before
{
	transition: all 1s ease;
	-webkit-animation: pline 1.5s forwards;
			animation: pline 1.5s forwards;
	-webkit-animation-duration: 1s;	
			animation-duration: 1s;	
}

.box01 ul:nth-child(3) li p:before
{

	transition: all 6s ease;
	-webkit-animation: pline 1.5s forwards;
			animation: pline 1s forwards;
	-webkit-animation-duration: 3s;	
			animation-duration: 3s;	
}

/*------------------------------*/

.box01 ul:nth-child(1) li img,
.box01 ul:nth-child(3) li img
{ 
	margin-right: 100px;
	float: right;
}
.box01 ul:nth-child(1) li p, 
.box01 ul:nth-child(3) li p 
{
	text-align: justify;
    margin-left: 100px;
}



/*----------(2),(4)before--------------------*/
.box01 ul:nth-child(2) li p:before,
.box01 ul:nth-child(4) li p:before {
    padding-right: 0px;
    height: 2px;
    top: 100px;
    right: -100px;
}
.box01 ul:nth-child(2) li p:before
{
	transition: all 1s ease;
	-webkit-animation: pline 1.5s forwards;
			animation: pline 1.5s forwards;
	-webkit-animation-duration: 1s;	
			animation-duration: 1s;	
}

.box01 ul:nth-child(4) li p:before
{

	transition: all 6s ease;
	-webkit-animation: pline 1.5s forwards;
			animation: pline 1s forwards;
	-webkit-animation-duration: 3s;	
			animation-duration: 3s;	
}


/*------------------------------*/

.box01 ul:nth-child(2) li img,
.box01 ul:nth-child(4) li img
{ 
	margin-left: 100px;
	float: left;
}
.box01 ul:nth-child(2) li p,
.box01 ul:nth-child(4) li p
{
    margin-right: 100px;
}

/*------------------------------*/




.Eco_end {
    padding: 0 0 100px;
    width: 100%;
	position: relative;
}


.Eco_end .campaign {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}




/* 매우 작은 기기들 (모바일폰, 320px 보다 작은) */
@media screen and (min-width:320px) and (max-width:640px){ 
.Eco_container {
	width: 90%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 7vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}


/*---------- box01 ---------*/


.box01:after {
	display: none;
}
.box01 ul {
    width: 100%;
    height: 100%;
}
.box01 ul li {
    float: none;
    width: 100%;
    height: 300px;
    text-align: center;
}
  
    
    
  
/*------------------------------*/   
.box01 ul:nth-child(2) li p {
    border-top: 1px solid #000;
     border-bottom: 1px solid #000;
}

.box01 ul:nth-child(4) li p {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}      
  
.box01 ul:nth-child(2) li p, 
.box01 ul:nth-child(4) li p 
{
    padding: 30px 0;
    text-align: center;
    margin-right: 0px;
    font-size: 17px;
    font-weight: bold;
}    
    
.box01 ul:nth-child(2) li:nth-child(2),
.box01 ul:nth-child(4) li:nth-child(2)
{
   display: none;
}
    
    
    
/*------------------------------*/ 

.box01 ul:nth-child(3) {
    padding-top: 50px;
    height: 600px;
}   
    
/*------------------------------*/ 
    
    
.box01 ul:nth-child(1) li p:before,   
.box01 ul:nth-child(2) li p:before,
.box01 ul:nth-child(3) li p:before,
.box01 ul:nth-child(4) li p:before {
        display: none;
}
    

.box01 ul:nth-child(1) li p,
.box01 ul:nth-child(3) li p {
    margin-left: 0px;
    text-align:center;
    font-size: 17px;
}

    
.box01 ul:nth-child(1) li img, 
.box01 ul:nth-child(3) li img {
    margin-right: 0px;
    float: none;
}
.box01 ul:nth-child(2) li img, 
.box01 ul:nth-child(4) li img {
    margin-left: 0px;
    float: none;
}
/*------------------------------*/

.Eco_end .campaign  {
    position: relative;
}
.Eco_end .campaign::after {
    display: none;
}

.Eco_end .campaign img {
    width: 100%;
    height: 100%;
}

	
}

/* 작은 기기들 (태블릿, 640px 이상) */
@media screen and (min-width:640px) and (max-width:767px){
.Eco_container {
	width: 80%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 5vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}


/*---------- box01 ---------*/


.box01:after {
	display: none;
}
.box01 ul {
    width: 100%;
    height: 100%;
}
.box01 ul li {
    float: none;
    width: 100%;
    height: 300px;
    text-align: center;
}
  
    
    
  
/*------------------------------*/   
.box01 ul:nth-child(2) li p {
    border-top: 1px solid #000;
     border-bottom: 1px solid #000;
}

.box01 ul:nth-child(4) li p {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}      
  
.box01 ul:nth-child(2) li p, 
.box01 ul:nth-child(4) li p 
{
    padding: 30px 0;
    text-align: center;
    margin-right: 0px;
}    
    
.box01 ul:nth-child(2) li:nth-child(2),
.box01 ul:nth-child(4) li:nth-child(2)
{
   display: none;
}
    
    
    
/*------------------------------*/ 

.box01 ul:nth-child(3) {
    padding-top: 50px;
    height: 600px;
}   
    
/*------------------------------*/ 
    
    
.box01 ul:nth-child(1) li p:before,   
.box01 ul:nth-child(2) li p:before,
.box01 ul:nth-child(3) li p:before,
.box01 ul:nth-child(4) li p:before {
        display: none;
}
    

.box01 ul:nth-child(1) li p,
.box01 ul:nth-child(3) li p {
    margin-left: 0px;
    text-align: center;
}

    
.box01 ul:nth-child(1) li img, 
.box01 ul:nth-child(3) li img {
    margin-right: 0px;
    float: none;
}
.box01 ul:nth-child(2) li img, 
.box01 ul:nth-child(4) li img {
    margin-left: 0px;
    float: none;
}
/*------------------------------*/

.Eco_end .campaign  {
    position: relative;
}
.Eco_end .campaign::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 700px;
    height: 500px;
}

.Eco_end .campaign img {
    width: 600px;
    height: 450px;
}

    
.Eco_end .campaign:hover::after {
    display: none;
    background: #fff;
    opacity: 0.3;
    cursor: pointer;
    transition: all .5s ease;
}

}

/* 작은 기기들 (태블릿, 768px 이상) */
@media screen and (min-width:768px) and (max-width:991px){
.Eco_container {
	width: 80%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 5vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}


/*---------- box01 ---------*/


.box01:after {
	display: none;
}


/*------------------------------*/
.box01 ul:nth-child(1) li p:before,   
.box01 ul:nth-child(2) li p:before,
.box01 ul:nth-child(3) li p:before,
.box01 ul:nth-child(4) li p:before {
        display: none;
}
.box01 ul:nth-child(2) li p,
.box01 ul:nth-child(4) li p
{    
    text-align: justify;
    margin-right: 0px;
}
.box01 ul:nth-child(1) li p,
.box01 ul:nth-child(3) li p 
{
    text-align: justify;
    margin-left: 0px;
}
    
.box01 ul:nth-child(1) li img, 
.box01 ul:nth-child(3) li img {
    margin-right: 50px;
    float: right;
}
.box01 ul:nth-child(2) li img, 
.box01 ul:nth-child(4) li img {
    margin-left: 50px;
    float: left;
}
/*------------------------------*/

.Eco_end .campaign  {
    position: relative;
}
.Eco_end .campaign::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 700px;
    height: 500px;
}

.Eco_end .campaign img {
    width: 700px;
    height: 500px;
}

    
.Eco_end .campaign:hover::after {
    background: #fff;
    opacity: 0.3;
    cursor: pointer;
    transition: all .5s ease;
}


}
 
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width:992px) and (max-width:1024px) {
.Eco_container {
	width: 80%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 5vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}


/*---------- box01 ---------*/


.box01:after {
	display: none;
}


/*----------(2),(4)before--------------------*/
.box01 ul:nth-child(1) li p:before,   
.box01 ul:nth-child(2) li p:before,
.box01 ul:nth-child(3) li p:before,
.box01 ul:nth-child(4) li p:before {
        display: none;
}
.box01 ul:nth-child(2) li p,
.box01 ul:nth-child(4) li p
{
    margin-right: 0px;
}
.box01 ul:nth-child(1) li p,
.box01 ul:nth-child(3) li p 
{
    text-align: justify;
    margin-left: 0px;
}

/*------------------------------*/


.Eco_end {
    padding: 0 0 100px;
    width: 100%;
	position: relative;
}


.Eco_end .campaign {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}


}

/* 큰 기기들 (큰 데스크탑, 1025px 이상) */
@media screen and (min-width:1025px) and (max-width:1279px) {
  .Eco_container {
	width: 95%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 7vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.Eco_end {
    padding: 0 0 100px;
    width: 100%;
	position: relative;
}


.Eco_end .campaign {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
 
}

/* 큰 기기들 (큰 데스크탑, 1280px 이상) */
@media screen and (min-width:1280px) and (max-width:1920px) {
.Eco_container {
	width: 80%;
	height: 100%;
    margin: 0 auto;
}
.Eco_container h1 {
	text-align: center;
    padding: 100px 0 100px;
    font-size: 5vw; 
    color: #7a8875;
}

.Eco_box {
	width: 100%;
	margin: 0 auto;
	position: relative;
}



.Eco_end .campaign {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}


    
}
	



