@font-face {
    font-family: 'vhs font';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@charset "utf-8"


.content {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    margin: 50px auto;
}
.content article {
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.sec {
    margin-top: 50px;
}

/* sec1 .the-game */
.about-the-game {
    margin-bottom: 15vw;
}
    /* img */
.gm {
    width: 100%;
    height: 50vw;
    position: relative;
    margin: 50px 0 200px;
    box-sizing: border-box;
}
.gm .gm_img {
    display: block;
    position: absolute;
    max-width: 90vw;
}
.gm .gm_info {
    width: 35vw;
    height: auto;
    position: absolute;
    word-break: keep-all;
    font-size: 1vw;
    font-weight: 700;
    text-align: left;
    line-height: 1.6;
    z-index: 11;
}
.gm .gm_info p {
    margin-bottom: 20px;
}
br.mo {
    display: none;
}

.g-part1 .gm_g {
    top: 50%;
    left: 10vw;
    width: 60%;
    height: auto;
}
.g-part1 .gm_m {
    top: 45%;
    right: 15%;
    width: 20%;
    height: auto;
}
.g-part1 .gm_info {
    left: 40%;
    top: 10%;
}

.g-part2 .gm_g {
    top: 0;
    left: 5vw;
    width: 90%;
    height: auto;
    opacity: 0.7;
}
.g-part2 .gm_m {
    top: 18%;
    left: 30%;
    width: 40%;
    height: auto;
}
.g-part2 .gm_info {
    left: 60%;
    top: 52%;
}
.g-part3 .gm_g {
    top: 0;
    right: 5vw;
    width: 50%;
    height: auto;
}
.g-part3 .gm_m {
    top: 30%;
    left: 5vw;
    width: 50%;
    height: auto;
}
.g-part3 .gm_info {
    left: 60%;
    top: 55%;
}
.gm_m {
    z-index: 10;
}

/* sec2 .makers */
.artcle2 {}
.roll-start {
    margin: 0 auto 40vh;
    opacity: 1;
    width: 200px;
}
.roll-start img {
    width: 100%;
    height: auto;
}
.page-sub.makers {
    line-height: 3;
    opacity: 0.85;
}
.makers-roll {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 10vh; /*rolling margin*/
    opacity: 0.85;
}
.makers-roll p {
    line-height: 1.8;
    color: #eee;
}
.makers-roll small {
    color: #aaa;
}
.makers-roll .strong {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 60px auto 20px;
}
.makers-roll .subtit {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 auto;
}
.makers-roll .subtit:before,
.makers-roll .subtit:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 2px;
    margin: auto 10px;
    background-color: white;
    vertical-align: middle;
}
.makers-roll .part {
    color: #ccc;
    font-size: 1em;
    line-height: 1.5;
    margin: 20px auto 10px;
}
.makers-roll .final {
    opacity: 0;
    color: #eee;
    font-size: 1em;
    margin: 70px auto;
    transition: opacity 0.5s;
}
.makers-roll .final.show {
    opacity: 1;
}

.gradientBox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
/*    z-index: 12;*/
}
.grad {
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    right: 0;
}
.gradientUp {
    top: 0;
    background: linear-gradient(180deg, #000 10%, transparent 100%);
}
.gradientDown {
    bottom: 0;
    background: linear-gradient(0deg, #000 10%, transparent 100%);
}

.gotoFirst {
    display: block;
    font-size: 16px;
    text-align: center;
    max-width: 340px;
    line-height: 5;
    
    height: 5em;
    width: 50vw;
    margin: 40vh auto;
    
    border: 1px solid #eee;
    box-shadow: 3px 3px 0px #eee;
    cursor: pointer;
}
.gotoFirst a {
    color: #eee;
    display: block;
    width: 100%;
    height: 100%;
}
@keyframes blinkBar {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.gotoFirst span {
    opacity: 1;
    animation: blinkBar 0.35s infinite alternate ease-in-out;
}



@media all and (min-width: 1202px) and (max-width: 1499px){
    
    /* sec1 .the-game */
    .gm {
        height: 55vw;
    }
    .gm .gm_img {
        max-width: 100vw;
    }
    .gm .gm_info {
        font-size: 1.2vw;
    }
    .g-part1 .gm_g {
        left: 5vw;
        width: 65%;
    }
    .g-part1 .gm_m {
        right: 7%;
        width: 25%;
    }
    .g-part1 .gm_info {
        left: 38%;
    }

    .g-part2 .gm_g {
        left: 0;
        width: 100%;
    }
    .g-part2 .gm_m {
        top: 17%;
        left: 25%;
        width: 50%;
    }
    .g-part2 .gm_info {
        top: 57%;
    }
    .g-part3 .gm_g {
        width: 60%;
    }
    .g-part3 .gm_m {
        width: 60%;
    }
    .g-part3 .gm_info {
        left: 70%;
        top: 60%;
    }
    
}


@media all and (min-width: 902px) and (max-width: 1201px){
    
    /* sec1 .the-game */
    .gm {
        height: 65vw;
    }
    .gm .gm_img {
        max-width: 100vw;
    }
    .gm .gm_info {
        font-size: 1.8vw;
        width: 52vw;
    }
    .g-part1 .gm_g {
        left: 5vw;
        width: 70%;
    }
    .g-part1 .gm_m {
        right: 7%;
        width: 30%;
    }
    .g-part1 .gm_info {
        left: 32%;
    }

    .g-part2 .gm_g {
        left: 0;
        width: 100%;
    }
    .g-part2 .gm_m {
        top: 15%;
        left: 25%;
        width: 50%;
    }
    .g-part2 .gm_info {
        top: 70%;
        left: 28%;
    }
    .g-part3 {
        height: 100vw;
    }
    .g-part3 .gm_g {
        width: 70%;
    }
    .g-part3 .gm_m {
        width: 70%;
        top: 45%;
    }
    .g-part3 .gm_info {
        left: 60%;
        top: 78%;
    }
    
    .grad {
        height: 25vh;
    }
}


/* mobile 모바일 */
@media all and (max-width: 901px){
    
    .gm {
        height: 150vh;
        margin: 50px auto 100px;
    }
    .gm .gm_img {
        max-width: 200vw;
    }
    .gm .gm_info {
        width: 70vw;
        font-size: 3.5vw;
    }
    br.mo {
        display: block;
    }
    .g-part1 .gm_m {
        width: 70%;
        top: 25%;
        right: 30%;
    }
    .g-part1 .gm_g {
        width: 200%;
        left: 10%;
        top: 68%;
    }
    .g-part1 .gm_info {
        left: 17%;
    }
    .g-part2 .gm_m {
        width: 150%;
        top: 10%;
        left: 8%;
    }
    .g-part2 .gm_g {
        width: 180%;
        left: -50%;
        top: 35%;
    }
    .g-part2 .gm_info {
        width: 80vw;
        left: 25%;
        top: 65%;
    }
    .g-part3 .gm_m {
        width: 150%;
        top: 0;
        left: -15vw;
    }
    .g-part3 .gm_g {
        width: 180%;
        left: 0;
        top: 33%;
    }
    .g-part3 .gm_info {
        left: 18%;
        top: 70%;
    }
    
    .roll-start {
        width: 45vw;
        height: auto;
    }
    .makers-roll {
        font-size: 4vw;
    }
    
    .gotoFirst {
        font-size: 14px;
        width: 70vw;
        margin: 30vh auto;
    }
}
         