.container {
	padding: 100px 0 0 0;
	width: 100vw;
	height: 1900px;
}
.P_main {
	width: 100%;
	height: 500px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.P_main::after {
	content: "";
	position: absolute;
	background: url(../img/P_main.png);
	filter:alpha(opacity=50);
	background-repeat: no-repeat;
	background-size: 100% 2500px;
	background-position: bottom;	
	top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.5!important;
    filter:alpha(opacity=50);
    z-index:-1;
    width:100%;
    height:100%;
}
.P_main h1 {
	color: #fff;
	font-size: 3vw;
	line-height: 5;
}

/* -------------------- content01 -------------------- */

.content01 {
	width: 50%;
	margin: 0 auto;
}

/* ----- a_box1 ----- */
.a_box1 {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.a_box1 ul { 
	width: 100%;
	height: 200px;
		
}
.a_box1 ul li {
	font-size: 20px;
	position: absolute;
	padding-top: 130px;
}
.a_box1 ul li:nth-child(1),
.a_box1 ul li:nth-child(2) { visibility: hidden;}

/* ----- a_box2 ----- */
.a_box2 {
	width: 80%;
	position: relative;
}
.a_box2 ul { 
	width: 100%;
	height: 50px;
		
}
.a_box2 ul li {
	font-size: 20px;
	float: left;
	padding-top: 10px;
	padding-right: 25px;
}
.a_box2 ul li a {color: #000;}



/* ------------------------- content02 ------------------------- */
.content02 {
	width: 50%;
	height: 850px;
	margin: 0 auto 100px;
	position: relative;
	border-bottom: 2px solid black;
}
.PRO {
	visibility: hidden;
	_visibility: visible;
	position: absolute;
	width: 100%;
	height: 700px;
	padding: 50px 0;
}

/* ----- a_box1 ----- */
.b_box1 {
	width: 100%;
	height: 350px;
	margin: 0 auto;
	position: relative;
}
/* ----- a_box2 ----- */
.b_box2 {
	width: 100%;
	height: 350px;
	margin: 0 auto;
	position: relative;
}
/* --- a_box1 , a_box2 공통--- */

.PRO01 {
	width: 33.33%;
	padding:20px 0;
	float: left;
	text-align: center;
}
.PRO01  img {
	cursor: pointer;
}
.PRO01 ul {
	width: 100%;
}
.PRO01 ul li {
	width: 100%;
    text-align: center;
}
.PRO01 ul li{
	padding-top: 10px;
}

.PRO01 ul li span {
	display: block;
	border-radius: 15px;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    font-weight: bold;	
}
.PRO01 ul li  .VEGAN {
    background-color: #4e7a50;
    color: #fff;
}

.PRO01 ul li  .NEW {
    background-color: #d16613;
    color: #fff;
}
.PRO01 ul li  .txt {
	font-size: 19px;
}
.PRO01 ul li  .one {
	font-weight: bold;
}

/* --------------------------- */
/* 매우 작은 기기들 (모바일폰, 320px 보다 작은) */
@media screen and (min-width:320px) and (max-width:640px){ 
	
}

/* 작은 기기들 (태블릿, 640px 이상) */
@media screen and (min-width:640px) and (max-width:767px){

}

/* 작은 기기들 (태블릿, 768px 이상) */
@media screen and (min-width:768px) and (max-width:991px){


}
 
/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width:992px) and (max-width:1024px) {


}

/* 큰 기기들 (큰 데스크탑, 1025px 이상) */
@media screen and (min-width:1025px) and (max-width:1279px) {
   
}

/* 큰 기기들 (큰 데스크탑, 1280px 이상) */
@media screen and (min-width:1280px) and (max-width:1920px) {

    
}