li { list-style: none;}
a { text-decoration: none;}


.SUB02_container {
	width: 100%;
}
.NU_box01, .NU_box02, .NU_box03, .NU_box04 {
	text-align: center;
	margin: 0 auto;
	width: 910px;
	height: 850px;
    background-size: 910px 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NU_box01 {
    background-image: url(../img/SUB02_nu01.png);
}
.NU_box02 {
    background-image: url(../img/SUB02_nu02.png);

}
.NU_box03 {
    background-image: url(../img/SUB02_nu03.png);
}


/*--------------- NU_box02 ---------------*/

.NU_box02 h1 {
    font-size: 2vw;
    margin: 0;
    padding: 50px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box02 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}


.a_text {
	padding: 0;
}
.a_01 {
	padding: 15px 0 5px 50px;
	width: 50%
}
.a_01 img {
	padding-right: 10px;
	float: left;
}
.a_01  p {
	font-size: 15px;
    text-align: justify;
	margin: 5px;
}
.a_01  p span {
	font-weight: bold;
} 

/*--- a_02 ---*/
.a_02 {
	width: 50%
}
.a_02 img {
    display: block;
    padding: 10px 80px 0;
}


/*--------------- NU_box03 ---------------*/
.NU_box03 h1 {
    font-size: 2vw;
    margin: 0;
    padding: 500px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box03 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}
.NU_box03 p {
    font-size: 18px;
    margin: 0;
    padding: 30px 60px 0 0;
    text-align: right;
    font-weight:normal;
	letter-spacing: 0.05em;
	position: relative;
}

/*--------------- NU_box04 ---------------*/
.NU_box04 .b_01 {
	width: 33.33%;
    float: left;
    padding: 50px 0 0;
}
.b_Txt_01  {
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	
}
.b_Txt_02 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.NU_box04 .b_01 p:nth-child(3) {
	text-align: justify;
	width: 65%;
	margin: 0 auto;
	font-size: 15px;
	letter-spacing: 0;
	line-height:1.9;
	word-spacing:-0.07em;
	padding: 0 0 30px;
}
.b_01 img {
	
	text-align: center;
}

/* 매우 작은 기기들 (모바일폰, 320px 보다 작은) */
@media screen and (min-width:320px) and (max-width:640px){ 
.SUB02_container {
	width: 100%;
}
.NU_box01, .NU_box02, .NU_box03 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NU_box01 {
    height: 450px;
    background-image: url(../img/SUB02_nu01.png);

}
.NU_box02 {
    height: 600px;
    background-image: url(../img/SUB02_nu02.png);

}
.NU_box03 {
    height: 600px;
    background-image: url(../img/SUB02_nu03.png);
}
 

/*--------------- NU_box02 ---------------*/

.NU_box02 h1 {
    font-size: 5vw;
    margin: 0;
    padding: 30px 10px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box02 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 10px;
	position: absolute;
}


.a_text {
	padding: 0;
}
.a_01 {
	padding: 15px 0 5px 50px;
	width: 100%
}
.a_01 img {
	padding-right: 10px;
	float: left;
}
.a_01  p {
	font-size: 15px;
    text-align: justify;
	margin: 5px;
}
.a_01  p span {
	font-weight: bold;
} 

/*--- a_02 ---*/
.a_02 {
	width: 50%
}
.a_02 img {
    display: block;
    padding: 10px 80px 0;
}


/*--------------- NU_box03 ---------------*/

.NU_box03 h1 {
    font-size: 5vw;
    margin: 0;
    padding: 250px 10px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box03 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 10px;
	position: absolute;
}
.NU_box03 p {
    font-size: 18px;
    margin: 0;
    padding: 30px 10px 0 0;
    text-align: right;
    font-weight:normal;
	letter-spacing: 0.05em;
	position: relative;
}

/*--------------- NU_box04 ---------------*/
.NU_box04 {
    width: 100%;
    height: 1900px;
}
.NU_box04 .b_01 {
	width: 100%;
    height: 600px;
    float: none;
    padding: 50px 0 0;
}
    
.b_Txt_01  {
	text-align: center;
	font-weight: 500;
	font-size: 10vw;
	
}
.b_Txt_02 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.NU_box04 .b_01 p:nth-child(3) {
	text-align: center;
	width: 65%;
	margin: 0 auto;
	font-size: 15px;
	letter-spacing: 0;
	line-height:1.9;
	word-spacing:-0.07em;
	padding: 30px 0 30px;
}
.b_01 img {
	
	text-align: center;
}
	
}

/* 작은 기기들 (태블릿, 640px 이상) */
@media screen and (min-width:641px) and (max-width:767px){
.SUB02_container {
	width: 100%;
}
.NU_box01, .NU_box02, .NU_box03, .NU_box04 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 750px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NU_box01 {
    background-image: url(../img/SUB02_nu01.png);

}
.NU_box02 {
    background-image: url(../img/SUB02_nu02.png);

}
.NU_box03 {
    background-image: url(../img/SUB02_nu03.png);
}


/*--------------- NU_box02 ---------------*/

.NU_box02 h1 {
    font-size: 10vw;
    margin: 0;
    padding: 0px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box02 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}


.a_text {
	padding: 0;
}
.a_01 {
	padding: 15px 0 5px 50px;
	width: 50%
}
.a_01 img {
	padding-right: 10px;
	float: left;
}
.a_01  p {
	font-size: 15px;
    text-align: justify;
	margin: 5px;
}
.a_01  p span {
	font-weight: bold;
} 

/*--- a_02 ---*/
.a_02 {
	width: 50%
}
.a_02 img {
    display: block;
    padding: 10px 80px 0;
}


/*--------------- NU_box03 ---------------*/
.NU_box03 h1 {
    font-size: 10vw;
    margin: 0;
    padding: 250px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box03 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}
.NU_box03 p {
    font-size: 18px;
    margin: 0;
    padding: 30px 60px 0 0;
    text-align: right;
    font-weight:normal;
	letter-spacing: 0.05em;
	position: relative;
}

/*--------------- NU_box04 ---------------*/
.NU_box04 .b_01 {
	width: 33.33%;
    float: left;
    padding: 50px 0 0;
}
.b_Txt_01  {
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	
}
.b_Txt_02 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.NU_box04 .b_01 p:nth-child(3) {
	text-align: justify;
	width: 65%;
	margin: 0 auto;
	font-size: 15px;
	letter-spacing: 0;
	line-height:1.9;
	word-spacing:-0.07em;
	padding: 0 0 30px;
}
.b_01 img {
	
	text-align: center;
}


}

/* 작은 기기들 (태블릿, 768px 이상) */
@media screen and (min-width:768px) and (max-width:991px){
.SUB02_container {
	width: 100%;
}
.NU_box01, .NU_box02, .NU_box03, .NU_box04 {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 750px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NU_box01 {
    background-image: url(../img/SUB02_nu01.png);

}
.NU_box02 {
    background-image: url(../img/SUB02_nu02.png);

}
.NU_box03 {
    background-image: url(../img/SUB02_nu03.png);
}


/*--------------- NU_box02 ---------------*/

.NU_box02 h1 {
    font-size: 10vw;
    margin: 0;
    padding: 0px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box02 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}


.a_text {
	padding: 0;
}
.a_01 {
	padding: 15px 0 5px 50px;
	width: 50%
}
.a_01 img {
	padding-right: 10px;
	float: left;
}
.a_01  p {
	font-size: 15px;
    text-align: justify;
	margin: 5px;
}
.a_01  p span {
	font-weight: bold;
} 

/*--- a_02 ---*/
.a_02 {
	width: 50%
}
.a_02 img {
    display: block;
    padding: 10px 80px 0;
}


/*--------------- NU_box03 ---------------*/
.NU_box03 h1 {
    font-size: 10vw;
    margin: 0;
    padding: 250px 60px 0 0;
    text-align: right;
    font-weight:bolder;
	position: relative;
	letter-spacing: 0.02em;
}
.NU_box03 h1::before {
	content: "";
	background: #000;
	width: 50px;
	height: 3px;
	right: 65px;
	position: absolute;
}
.NU_box03 p {
    font-size: 18px;
    margin: 0;
    padding: 30px 60px 0 0;
    text-align: right;
    font-weight:normal;
	letter-spacing: 0.05em;
	position: relative;
}

/*--------------- NU_box04 ---------------*/
.NU_box04 .b_01 {
	width: 33.33%;
    float: left;
    padding: 50px 0 0;
}
.b_Txt_01  {
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	
}
.b_Txt_02 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.NU_box04 .b_01 p:nth-child(3) {
	text-align: justify;
	width: 65%;
	margin: 0 auto;
	font-size: 15px;
	letter-spacing: 0;
	line-height:1.9;
	word-spacing:-0.07em;
	padding: 0 0 30px;
}
.b_01 img {
	
	text-align: center;
}

    


}
 