
        .foot {
            position: absolute;
            bottom: -70px;
            left: 0;
            right: 0;
        } /* 푸터 위치 */
        .container {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			background: url('../img/hi.gif') no-repeat center;
			background-size: cover;
			overflow: hidden;
			z-index: 1;
        }

        #game {
			width: 1500px;
			height: 750px;
			margin: 100px auto 0;
			position: relative;
			overflow: hidden;
			z-index: 5;
        }

		.container:after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
		}

		/* Messege */

        .alert {
			/* -message 공통 css*/
			background: rgba(0, 0, 0, 0.6);
			z-index: 50;
			position: absolute;
			color: white;
			text-align: center;
		}
        

		.start-message {
			left: 50%;
			top: 50%;
			width: 300px;
			height: 130px;
			margin-left: -150px;
			margin-top: -70px;
			padding-top: 15px;
		}

		.end-message,
		.clear-message {
			display: none;
			left: 0;
			top: 0;
			width: 1500px;
			height: 750px;
			box-sizing: border-box;
		}

		.message {
			display: block;
			color: white;
			font-size: 40px;
			font-weight: 900;
			line-height: 1.15;
		}

		.replay {
			margin-top: 350px;
		}

		.guide-message {
			font-size: 15px;
			display: block;
			font-weight: normal;
			color: white;
			margin-top: 14px;
		}

		/* clear message */
		.clear {
			margin-top: 320px;
		}

		.next-stage {
			display: block;
			width: 150px;
			height: 2rem;
			margin: 14px auto;
			border: 1px solid white;
			color: white;
			line-height: 2;
			text-decoration: none;
		}

		.next-stage:hover {
			text-decoration: underline;
		}

        input.onoff {
            position: absolute;
            left: -000%;
            opacity: 0;
        }

        input.onoff+label {
            overflow: hidden;
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 56px;
            height: 56px;
            background: transparent;
            z-index: 30;
        }

        input.onoff+label:before {
            content: url('../img/on.png');
            width: 56px;
            height: 56px;
        }

        input.onoff:checked+label:before {
            content: url('../img/off.png');
        }

        .life {
            z-index: 40;
        }


        /*게임시작 말풍선*/
        .howtoplay {
            position: absolute;
            left: 31px;
            top: 260px;
            width: 150px;
            height: 100px;
            box-sizing: border-box;
            padding: 20px 0;
            background: url('../img/howtoplay.png') no-repeat center;
            background-size: contain;
            border-radius: 20px;
            color: white;
            font-size: 0.8rem;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
        }

        .enter {
            background: rgba(0, 0, 0, 0.6);
            z-index: 50;
            position: absolute;
            color: white;
            text-align: center;
            display: block;
            font-size: 30px;
            font-weight: 900;
            line-height: 1.15;
			left: 50%;
            top: 50%;
            width: 350px;
            height: 60px;
            margin-left: -150px;
            margin-top: -70px;
            padding-top: 15px;
			
        }
		.POINT01 { color: yellow; font-weight: bold; 
			-webkit-animation:blink .5s ease-in-out infinite alternate;
			-moz-animation:blink .5s ease-in-out infinite alternate;
			animation:blink .5s ease-in-out infinite alternate;
		}
		.POINT02 { 
			color: yellow; 
			font-weight: bold; 
			font-size: 15px;
			-webkit-animation:blink .5s ease-in-out infinite alternate;
			-moz-animation:blink .5s ease-in-out infinite alternate;
			animation:blink .5s ease-in-out infinite alternate;
		}

		@-webkit-keyframes blink{
			0% {opacity:0;}
			100% {opacity:1;}
		}
		@-moz-keyframes blink{
			0% {opacity:0;}
			100% {opacity:1;}
		}
		@keyframes blink{
			0% {opacity:0;}
			100% {opacity:1;}
		}

        @media all and (min-width: 1202px) and (max-width: 1499px) {

            #game {
                position: relative;
                width: 1200px;
            }


            .end-message,
            .clear-message {
                display: none;
                width: 1200px;
                height: 750px;
                box-sizing: border-box;
            }


            /*게임시작 말풍선*/
            .howtoplay {
                position: absolute;
                left: 31px;
                top: 260px;
                width: 150px;
                height: 100px;
                box-sizing: border-box;
                padding: 20px 0;
                background: url(img/howtoplay.png) no-repeat center;
                background-size: contain;
                border-radius: 20px;

                color: white;
                font-size: 0.8rem;
                font-weight: bold;
                text-align: center;
                line-height: 1.5;
            }

			.enter {
				background: rgba(0, 0, 0, 0.6);
				z-index: 50;
				position: absolute;
				color: white;
				text-align: center;
				display: block;
				font-size: 30px;
				font-weight: 900;
				line-height: 1.15;
				left: 50%;
				top: 50%;
				width: 350px;
				height: 60px;
				margin-left: -150px;
				margin-top: -70px;
				padding-top: 15px;

			}


        }


        @media all and (min-width: 902px) and (max-width: 1201px) {


            #game {
                position: relative;
                width: 900px;
            }


            .end-message,
            .clear-message {
                display: none;
                width: 1200px;
                height: 750px;
                box-sizing: border-box;
            }


            /*게임시작 말풍선*/
            .howtoplay {
                position: absolute;
                left: 31px;
                top: 260px;
                width: 150px;
                height: 100px;
                box-sizing: border-box;
                padding: 20px 0;
                background: url(img/howtoplay.png) no-repeat center;
                background-size: contain;
                border-radius: 20px;

                color: white;
                font-size: 0.8rem;
                font-weight: bold;
                text-align: center;
                line-height: 1.5;
            }

			.enter {
				background: rgba(0, 0, 0, 0.6);
				z-index: 50;
				position: absolute;
				color: white;
				text-align: center;
				display: block;
				font-size: 30px;
				font-weight: 900;
				line-height: 1.15;
				left: 50%;
				top: 50%;
				width: 350px;
				height: 60px;
				margin-left: -150px;
				margin-top: -70px;
				padding-top: 15px;

			}

        }


        /*--- mobile 모바일, tablet 태블릿 ---*/
        @media all and (max-width: 901px) {
			
			
		}
		
