/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: Montserrat-SemiBold;
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
/*----------------- reset(S) -----------------*/
* {
	list-style: none;
	font-family: 'NotoSansKR', '나눔고딕', 'NanumGothic', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

a {
	font-family: Poppins-Regular;
	text-decoration: none;
	font-size: 14px;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	outline: 0;
	text-decoration: none;
	color: #000;
}

a:focus {
	outline: none !important;
}

img {
	border: 0;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}


/*------------------*[ 스타일 시작]------------------*/


.navmain {
	display: none;
	transition: 0.5s;
	opacity: 1;
}

.navmain {
	width: 100%;

}

.navmain .nav1 {
	position: absolute;
	width: 100%;

	right: 0;

	top: 13px;



}

.first01 {
	color: gray;
	padding: 13px;
	display: flex;
	justify-content: space-between;

	background-color: white;

}

.first02 {

	background-color: white;
}

.sub {

	width: 350px;
	background-color: #eee;
	margin-left: 30px;

}

.sub li {
	width: 340px;
	padding: 20px 0px 20px 20px;

	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
}

.sub li img {
	position: relative;
	text-align: right;
}


.top {
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding: 15px;
	border-bottom: 1px solid lightgray;
}

.top .topicon {
	display: flex;
	padding: 15px;
	padding-right: 0px;
}

.top .topicon img {
	margin-right: 20px;
}

.top .topicon .last {
	margin-right: 0px;

}



/*------------- wrap -------------*/
.wrap {
	max-width: 500px;
	margin: 100px auto;
	width: 100%;
}

.section1 {
	width: 100%;
}

.wrap h1 {
	margin: 50px auto;
	text-align: center;
}

.section1 input {
	width: 100%;
	height: 40px;

}

.la_name {
	padding-right: 30px;
}

.la_id {
	padding-right: 15px;
}

.la_pass {
	padding-right: 2px;
}

.join_btn {
	margin-left: 60px;
}

.password input {
	margin: 2px auto;

}

.section2 {
	font-size: 14px;
}

.section2 .asdasd {
	padding: 10px;
}

.section2 textarea {
	width: 100%;
	overflow-y: scroll;
	line-height: 2;
}

.last {
	padding: 8px;
	border-bottom: 1px solid lightgray;
	font-size: 13px
}


.footer {
	padding: 8px;
	font-size: 10px;
}

p {
	margin-bottom: 10px;
}

.asdasd input[type="checkbox"],
.last input[type="checkbox"],
.footer input[type="checkbox"] {
	width: 15px;
	height: 15px;
}


.section2 input {
	margin-right: 10px;
}

.footer input {
	margin-right: 10px;
}

.sign {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	background-color: #a9c29a;
	border-radius: 50px;
	height: 100%;
	color: white;
	line-height: 50px;
	margin-top: 30px;
}

.sing_btn {
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	background: none;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.15em;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
		transition: all 0.4s;
}
.sing_btn:hover {
	background: #333333;
}


/*//////////////////////////////////////////////////////////////////
/*[ 반응형]*/

@media (max-width: 992px) {
	.login100-form {
		width: 50%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.login100-more {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.login100-form {
		width: 100%;
	}

	.login100-more {
		display: none;
	}
}

@media (max-width: 576px) {
	.wrap {
/*		max-width: 500px;*/
		margin: 100px auto;
		width: 70%;
	}

	.login100-form {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 70px;
	}
}
