@font-face {
    font-family: 'vhs font';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@charset "UTF-8"
    
html, body, header, footer,
ul, li, p, span, b, strong, ins, sub, sup,
h1, h2, h3, h4, h5, h6,
a, button, input, form, ul, li {margin: 0; padding: 0;}
a, button, input, form, fieldset {border: 0; outline: none; background: transparent; text-decoration: none}
button, input, form, fieldset {font-family: 'NanumSquare', 'sans-serif';}
ul, li{list-style: none;}
body {
    font-family: 'NanumSquare', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    background: black;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

/* COMMON CSS */
body {color: white;}

.page-tit {font-family: 'vhs font'; font-size: 100px; text-align: center; margin-top: 250px; margin-bottom: 20px;}
.page-sub {font-size: 24px; text-align: center; margin-top: 20px; margin-bottom: 20px;}


/* 헤더 HEADER */
.head {
    width: 1500px; height: 100px;
    margin: 0 auto;
    z-index: 999;
    position: fixed;
    top: 0; left: 0; right: 0;
    opacity: 1;
    font-size: 17px;
    transition: top 0.5s ease-in-out, opacity 0.6s ease;
}
.header-up {opacity: 0; top: -100px;}
.nav {width: calc(100% - 300px); height: 100px; top: 0; float: right;}
.nav ul {width: 100%; margin: 30px auto 0;}
.nav ul li {width: 16.666%; text-align: center; float: left;}
.nav ul li a {color: white; text-decoration: none;}
.nav ul li span+span {display: none;}
.nav ul li:hover span+span {display: block; color: #aaa}
.logo {display: block; height: 80px; width: 200px; float: left; margin: 5px auto; background: url('../img/logo_ex.png') no-repeat center; cursor: pointer;}

/* 모바일 nav-menu btn 추가 */
.nav-btn {display: none; z-index: 999;}
/* 헤더 HEADER 끝// */
.page-tit {
    font-family: 'vhs font';
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}
.page-sub {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.game {display: block; margin: 0 auto; margin-top: 0; height: 100vh; width: 1500px;}

/* 푸터 FOOTER */
.foot {
    width: 1500px; height: 70px; margin: 0 auto;
    z-index: 9999; font-size: 0;
}
.foot .col1 {
    display: inline-block;
/*    width: 80%;*/
    height: 100%;
    text-align: left;
}
.foot .col1 span {
    color: #aaa;
    font-size: 14px;
    position: relative;
}
.foot .col1 span:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: #5f5f5f;
    position: absolute;
    right: -15px;
    top: 0px;
}
.foot .col1 a {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: underline;
    cursor: pointer;
}
.foot .col2 {
    display: inline-block;
    width: 20%;
/*    height: 100%;*/
    text-align: center;
}
input.sub {
    color: white;
    font-size: 14px;
    width: 100px;
    height: 2.2em;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 2.2;
}
    /* 구독 폼 */
.subscribe {
    width: 410px;
    height: 310px;
    text-align: center;
    position: fixed;
    right: calc(50vw - 750px);
    bottom: -320px;
    z-index: 10000;
    background: black;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
}
.closeX {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 18px;
    height: 18px;
}
.closeX span {
    display: block;
    width: 20px;
    height: 4px;
    background: white;
    
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}
.closeX span+span {
    -webkit-transform: rotate(45deg) translate(1px, 2px);
    transform: rotate(45deg) translate(1px, 2px);
}

.subscribe .form {
    width: 90%;
    height: 80%;
    margin: 50px auto 0;
    font-size: 16px;
    color: white;
}
.subscribe .form .formTit {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.subscribe .form label {
    display: block;
    color: #ddd;
    margin-top: 12px;
    line-height: 1.3;
}
.howtosubscribe {
    text-align: left;
    font-weight: normal;
}
.howtosubscribe span {
    display: block;
    margin-top: 8px;
}
.form input[type=email] {
    font-size: 16px;
    color: black;
    
    display: block;
    width: 100%;
    height: 30px;
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background: white;
    margin-top: 20px;
}
.form input[type=submit] {
    font-size: 17px;
    font-weight: bold;
    color: white;
    line-height: 1;
    
    width: 150px;
    height: 2.5em;
    padding: 12px;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px auto 0;
}

.navigator {
    display: none;
    position: fixed;
    top: calc(50vh - 40px);
    right: 1vw;
    width: 30px;
    height: 30px;
}
.page-top,
.page-end {
    display: block;
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    z-index: 99999;
    opacity: 0.8;
}
.page-top:hover,
.page-end:hover {
    opacity: 1;
}
.page-top {
    top: calc(50vh - 30px);
}
.page-end {
    top: calc(50vh + 30px);
}
/* 푸터 FOOTER 끝// */

/* index - 모바일 화면 */
.mobile-index-wrap {display: none;}

/*--- 1500px 이상 ---*/
@media all and (min-width: 1500px) {}


@media all and (min-width: 1202px) and (max-width: 1499px) {

    /* 헤더 HEADER, 푸터 FOOTER */
    .head {
        width: 1200px;
    }

    .foot {
        width: 1200px;
    }

    .subscribe {
        right: calc(50vw - 600px);
    }

    /* 헤더 HEADER, 푸터 FOOTER 끝//  */


}


@media all and (min-width: 902px) and (max-width: 1201px) {
    /*모바일 타이틀*/
    .page-tit {
        font-size: 10vw;
        margin-top: 100px;
    }
    .page-sub {
        font-size: 5.5vw;
    } /*모바일 타이틀*/
    
    /* 헤더 HEADER, 푸터 FOOTER */
    .head {
        width: 900px;
    }

    .logo {
        display: block;
        height: 50px;
        width: 150px;
        border-radius: 50%;
        float: left;
        margin: 10px auto;
        background-size: 150px;
    }

    .nav {
        width: calc(100% - 200px);
        height: 100px;
        top: 0;
        float: right;
        font-size: 14px
    }

    .foot {
        width: 900px;
    }

    .subscribe {
        right: calc(50vw - 450px);
    }

    /* 헤더 HEADER, 푸터 FOOTER 끝//  */


}


/*--- mobile 모바일, tablet 태블릿 ---*/
@media all and (max-width: 901px) {
    /*모바일 타이틀*/
    .page-tit {
        font-size: 13vw;
        margin-top: 100px;
    }
    .page-sub {
        font-size: 5.5vw;
    } /*모바일 타이틀*/
    
    /* 헤더 HEADER */
    .head {
        width: 100%;
        height: 0;
    }

    .logo {
        opacity: 0;
        position: absolute;
        z-index: 101;
        width: 110px;
        left: 7vw;
        top: 0vh;
        background-size: contain;
        transition: opacity 0.7s ease-in-out;
    }

    .logo.opened {
        opacity: 1;
    }

    .nav {
        display: block;
        width: 70.1vw;
        height: 100vh;
        background: rgba(42, 42, 42, 0.95);
        position: absolute;
        left: -70%;
        transition: left 0.7s ease-in-out;
    }

    .nav.opened {
        left: 0;
        z-index: 100;
        position: fixed;
    }

    .nav ul {
/*        margin-left: 10%;*/
        margin-top: 25vh;
    }

    .nav ul li {
        clear: both;
        display: block;
        width: 55vw;
        margin-bottom: 5vh;
    }

    .nav ul li span + span {
        display: block;
        color: #aaa;
    }

    .nav-btn {
        display: block;
        width: 36px;
        height: 36px;
        position: fixed;
        left: 20px;
        top: 20px;
        transition: left 0.7s ease-in-out;
    }

    .nav-btn.close {
        left: calc(70vw - 56px);
    }

    .nav-btn span {
        display: block;
        margin-top: 8px;
        width: 34px;
        height: 4px;
        background: #fff;
        opacity: 1;
        transition: transform 0.5s, opacity 0.3s;
    }

    .nav-btn.close span:nth-of-type(1) {
        width: 38px;
        transform: rotate(135deg) translate(12px, -11px);
        -webkit-transform: rotate(135deg) translate(12px, -11px);
    }

    .nav-btn.close span:nth-of-type(2) {
        opacity: 0;
        display: none;
    }

    .nav-btn.close span:nth-of-type(3) {
        width: 38px;
        transform: rotate(-135deg) translate(-3px, -3px);
        -webkit-transform: rotate(-135deg) translate(-3px, -3px);
    }

    /* 헤더 HEADER 끝//  */

    .container {
        position: absolute;
        /*모바일 환경 영상 CSS*/
    }

    /* 푸터 FOOTER */
    .foot {
        width: 100%;
        z-index: 99;
    }

    .foot .col1 span:after,
    .foot .col2,
    .closeX,
    .subscribe .form label {
        display: none;
    }

    .foot .col1 {
        display: block;
        width: 100%;
        height: 15vh;
        min-height: 80px;
        padding: 18px 8vw 25px;
        box-sizing: border-box;
        background: black;
    }

    .foot .col2 {
        text-align: left;
    }

    .foot .col1 span,
    .foot .col1 a {
        display: block;
        color: white;
        font-size: 12px;
        margin-left: 0;
        line-height: 1.8;
    }

    .foot .col1 a {
        display: inline-block;
    }

    .subscribe {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 0;
        right: 0;
        border: none;
        border-radius: 0;
        z-index: 9;
    }

    .subscribe:after {
        content: "";
        display: block;
        width: 90%;
        height: 1px;
        margin: 0 auto;
        background: white;
    }

    .subscribe .form {
        font-size: 14px;
        padding: 20px 0;
    }

    .subscribe .form .formTit {
        font-size: 1.3em;
        margin-bottom: 14px;
    }

    .form input[type=email] {
        display: inline-block;
        width: 65%;
        height: 2em;
        font-size: 14px;
        margin-top: 0;
    }

    .form input[type=submit] {
        display: inline-block;
        width: 25%;
        height: 2em;
        font-size: 14px;
        margin-top: 0;
        margin-left: 3%;
        padding: 0;
    }
    
    /* 푸터 FOOTER 끝//  */
    
    
    /* index - 모바일 화면 */
    .container {display: none;}
    .mobile-index-wrap {display: block; width: 100%; height: 100vh;}
    .mobile-index-wrap .m-video{width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; background: url(../../common/img/index_loop.gif) no-repeat 50% 60% /cover; z-index: 98;
    }
    .mobile-index-wrap .exception {position: absolute; top: 43vh; width: 100%; text-align: center; color: #efefef; font-size: 4vw; line-height: 1.5; font-weight: bold; z-index: 99;
    animation: Xmessage 0.35s infinite alternate ease-in-out;
    }
    @keyframes Xmessage {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

}
         