.foot {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    background: url('../img/backbround_2.gif') no-repeat center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}
.container:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.game {
    width: 1500px;
    height: 750px;
    margin: 100px auto 0;
    background: url(../img/bgn.jpg) no-repeat center;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.bottomElem {
    display: none;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
}

/* 옥자 */
.okja {
    position: absolute;
    left: 30px;
    top: 360px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 40;
    transform-origin: center;

}

.vill {
    display: block;
    z-index: 20;
    position: absolute;
}
.v1 {
    left: 200px;
    bottom: -76px;
}

.v2 {
    left: 350px;
    top: -76px;
}

.v3 {
    left: 710px;
    top: -76px;
}

.v4 {
    left: 770px;
    bottom: -76px;
}

.v5 {
    left: 1100px;
    top: -76px;
}
.v6 {
    left: 1170px;
    bottom: -76px;
}

/* 메세지 박스 */
.howtoplay {
    position: absolute;
    left: 31px;
    top: 260px;
    
    width: 150px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px 0;
    background: url(../img/howtoplay.png) no-repeat center;
    background-size: contain;
    border-radius: 20px;
    
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.alert {
    /* -message 공통 css*/
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
    position: absolute;
    color: white;
    text-align: center;
}
.start-message {
    left: 50%;
    top: 50%;
    width: 300px;
    height: 130px;
    margin-left: -150px;
    margin-top: -70px;
    padding-top: 15px;
}
.end-message,
.clear-message {
    display: none;
    left: 0;
    top: 0;
    width: 1500px;
    height: 750px;
    box-sizing: border-box;
}
.message {
    display: block;
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.15;
}
.replay {
    margin-top: 350px;
}
.guide-message {
    font-size: 15px;
    display: block;
    font-weight: normal;
    color: white;
    margin-top: 14px;
}

/* clear message */
.clear {
    margin-top: 320px;
}
.next-stage {
    display: block;
    width: 150px;
    height: 2rem;
    margin: 14px auto;
    border: 1px solid white;
    color: white;
    line-height: 2;
    text-decoration: none;
}
.next-stage:hover {
    text-decoration: underline;
}

/* 사운드 on&off */
input.onoff {
    position: absolute;
    left: -3000%;
}

input.onoff+label {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 56px;
    height: 56px;
    background: transparent;
    z-index: 30;
}

input.onoff+label:before {
    content: url(../img/on.png);
    width: 56px;
    height: 56px;
}

input.onoff:checked+label:before {
    content: url(../img/off.png);
}

/*모바일*/
.mobile-index-wrap {display: none;}


@media all and (min-width: 1500px){
    /* 게임 배경 */
    .bottomElem.max {
        display: block;
        width: 1500px;
    }
}
@media all and (min-width: 1202px) and (max-width: 1499px){
    /* 게임 배경 */
    .end-message,
    .clear-message,
    .game {
        width: 1200px;
    }
    .game {
        background-image: url(../img/bgn_mid.jpg);
    }
    .bottomElem.mid {
        display: block;
        width: 1200px;
    }
    
    .v1 {
        left: 117px;
    }
    .v2 {
        left: 270px;
    }
    .v3 {
        left: 600px;
    }
    .v4 {
        left: 670px;
    }
    .v5 {
        left: 960px;
    }
    .v6 {
        left: 1030px;
    }
}


@media all and (min-width: 902px) and (max-width: 1201px){
    /* 게임 배경 */
    .end-message,
    .clear-message,
    .game {
        width: 900px;
    }
    .game {
        background-image: url(../img/bgn_min.jpg);
    }
    .bottomElem.min {
        display: block;
        width: 900px;
    }
    
    .v5,
    .v6 {
        display: none;
    }
    .v1 {
        left: 88px;
    }
    .v2 {
        left: 220px;
    }
    .v3 {
        left: 560px;
    }
    .v4 {
        left: 650px;
    }
}


/*--- mobile 모바일, tablet 태블릿 ---*/
@media all and (max-width: 901px){
    /* 모바일 화면 */
    .container {display: none;}
    .mobile-index-wrap {display: block; width: 100%; height: 100vh;}
    .mobile-index-wrap .m-video{width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; background: url(../../common/img/index_loop.gif) no-repeat 50% 60% /cover; z-index: 98;
/*    animation: mobileIndex 2s infinite;*/
    }
    .mobile-index-wrap .exception {position: absolute; top: 43vh; width: 100%; text-align: center; color: #efefef; font-size: 4vw; line-height: 1.5; font-weight: bold; z-index: 99;
    animation: Xmessage 0.35s infinite alternate ease-in-out;
    }
    
/*
    @keyframes mobileIndex {
        0%
        {
            background-position: center 0%;
        }
        100%
        {
            background-position: center 80%;
        }
        
    }
*/
    @keyframes Xmessage {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
}

